<h1 class="cover-heading">About Me.</h1>

<hr />

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile.jpg', width: 300, alt: 'Profile Image' %>
  </div>
  <div class="col-md-8">
    <p class="lead">I consider myself as a highly capable Front End Web Developer with more than 4.5 years of experience building websites and apps, I have developed an excellent understanding of a wide range of programming languages and tools and have demonstrated this capability throughout my ongoing career.</p>
    <p class="lead">On my career I have been recognized for my outstanding ability to work as part of a team, I have participated with multiple team projects and have consistently delivery finished assignment as per requirements and always within the time provided.</p>
  </div>
</div>




